:root {
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaaaaaaa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ccccccaa;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
